
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.bg-gray{
    background-color: #f8f6eb;
}
.title1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    color:#333;
}
.title3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color:#333;
}
section{
    padding-top:2.5rem;
    padding-bottom: 3rem;
    min-height: 85vh;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.description{    
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color:#444;
}
.link{
    cursor: pointer;
    font-family: 'Lato',sans-serif;
    text-decoration: none;
    font-weight: 400;
}
.link1{
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
    text-decoration: none;
}
.link1:hover{
    font-weight: 500;
}
.call-to-action-button1{
    background-color: #4fa9b3;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    padding: 10px;
    min-width: 250px;
}
.call-to-action-button1:hover{
    background-color: #236066;
    
}

.s_left{
    width: 50%;
}
.s_right{
    width: 50%;
}
section{
    display: flex;
}

@media (min-width:768px) {
    .title3{
        font-size: 1.8rem;
    }
    .description{    
        
        font-size: 1rem;
    }
}

/* -------------------------- NAVBAR ------------------------------- */
.navbar{
    background-color: #f8f6eb;
    box-shadow: #464646 0px 5px 14px 0px;
}
.navbar-brand{
    width: 35%;
    display: flex;
}
.navbar-brand svg{
    width: 40%;
    height: auto;
}
        #middle{
            animation: rotation 2s infinite linear;
            transform-origin: 50% 50%;
        }
    #logotipo{
        display: flex;
        flex-direction: column;
        line-height: 1.1;
    }
    #logotipo span{
        font-family: 'Noto Sans', sans-serif;
    }
    #logotipo .logotipo1{
        font-size: 1.2rem;
        font-weight: 600;
        color: #515151;
    }
    #logotipo .logotipo2{
        font-size: 0.4rem;
        color: #9B9B9B;
    }
@media (min-width:768px) {
    #logotipo{       
        line-height: 1.25;
    }    
    #logotipo .logotipo1{
        font-size: 2rem;        
    }
    #logotipo .logotipo2{
        font-size: 0.7rem;
    }
}
.nav-link{
    font-size: 1.5rem;
    color: #222 !important;
    font-family: 'Lato', sans-serif;
}
.nav-link:hover{
    color: #236066;
}
.navbar-socialmedia{
    list-style: none;
}
.sm-link{
    font-size: 1.8rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    cursor: pointer;
    color: #222;
}
.sm-link:hover{
    color: #236066;
}


/* Main Banner */
.mainbanner{
    width: 100%;
    height: 70vh;
    background-image: url('../assets/img/mainbanner_sm.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    width: 85%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    color: #fff;
    
}
#motor1{
    animation: motor1_anim 2s 1 cubic-bezier(0.58, 0.09, 0.47, 1.4);
    
}
@media (min-width:768px) {
    .mainbanner{
        background-image: url('../assets/img/mainbanner.png');
        background-attachment: fixed;
        background-position-x: center;
        justify-content: flex-end;
        height: 80vh;

    }
    .banner-text{
        width: 60%; 
        margin-right: 5%;         
        font-size: 2.5rem; 
    }
    #motor1{
        width: 35%;
        
    }
}
@media (min-width:992px) {
    .banner-text{            
        margin-right: 10%;
    }
}
@media (min-width:992px) {
    .navbar .container{
        align-items: flex-end;
    }
    .navbar-brand{
        width: 20%;
    }
    .navbar-collapse{
        margin-bottom: 1.5rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-socialmedia{
        margin-left: 1rem;
        margin-top: -2rem;
    }
}
/* HOME - ABOUT US */
#aboutus{    
    background-color: #f8f6eb;
}
#aboutus .s_left img{
    width: 100%;
}


@media (min-width:768px) {
    #quiensoy{
        flex-direction: row;
    }
    #quiensoy .container .description-image-container{
        
        flex-direction: row;
    }
    #quiensoy .description{    
        width: 65%;
        margin-top: 2.5rem;
    }
    #quiensoy .description .link1{ 
        text-align: right;
    }
}

/* SERVICIOS */

#servicios-container{
    flex-direction: column;
    
}

.servicios-card-icon i{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #236066;
}
.servicios-card{
    width: 100%;
    min-height: 420px;
    padding: 0.5rem;
}
.servicios-card h3{
    padding-left: 2rem;
}
.servicios-card-list{
    list-style: none;
    color: #444;
    font-size: 1.3rem;
    font-weight: 200;
    font-family: 'Montserrat',sans-serif;
}
@media (min-width:768px) {
    #servicios-container{
        flex-direction: row;
    }
    .servicios-card{
        width: 33%;
    }
}



/*-------------------------- CONTACTO--------------------- */
#contacto{
    background-color: #fff;
    display: flex;   
    flex-direction: column;
}
.contacto-cards-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contacto-card{
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
}
#citas-card{
    background-color:#f8f6eb ;
}
#redes-card{
    background-color: #e5fff1;
}
#maillink{
    font-size: 1rem;
}

.contacto-card h2{
    font-size: 2.3rem;
    font-family: 'Lato',sans-serif;
    color: #222;
    margin-bottom: 3rem;
    text-align: center;
}
.contacto-card-element{
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    margin-left: 1rem;
}
.contacto-card-element i{
    font-size: 2rem;
    margin-right: 1.3rem;
}
.contacto-card-element a{
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-decoration: none;
}
#citas-card i{
    color: #72bac2;
}
#redes-card i{
    color: #236066;
}

@media (min-width:768px) {
    .contacto-cards-container{
        flex-direction: row;
        justify-content: center;
    }
    .contacto-card{
        width: 40%;
        margin: 20px;
        min-height: 340px;
    }
    .contacto-card-element {
        margin-left: 2.5rem;
    }
    .contacto-card-element i{
        font-size: 3rem;
    }
    .contacto-card-element a{
        font-size: 1.5rem;
    }
    #maillink{
        font-size: 1.1rem;
    }
    #redes-card .contacto-card-element{
        margin-left: 4.4rem;
    }
}

/* FOOTER */
footer{
    background-color: #236066;
    color: #f8f6eb;
}

footer .container{
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 25px;
    padding-bottom: 25px;
}
footer .container div{
   align-items: center;
}

.footer-contact{
    color: #f8f6eb;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.footer-link{
    color: #f0cecd;
    text-decoration: none;
}
.footer-link:hover{
    color: #f8f6eb;
}
.footer-icon{
    font-size: 1.5rem;
    color: #72bac2;
}
@media (min-width:768px) {
    footer .container{
        justify-content: space-around;
        flex-direction: row;
    }
    footer .container div{
        align-items: flex-start;
     }
     
}
/* Utils */

.font-italic {
    font-style: italic ;
}

.font-weight-bold{
    font-weight: bold;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
  
  .whatsapp-icon {
    margin-top:13px;
  }

  #Layer_2{
    animation: rotation 2s infinite linear;
    transform-origin: 50% 50%;
  }

  /* -----------  ANIMATIONS ---------------------- */
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes motor1_anim {
      from{
          transform: translateY(200px);
          opacity: 20%;
      }
      to{
          transform: translateY(0px);
          opacity: 100%;
      }
  }
  @keyframes bounce1 {
      0%{
          transform: scale(0.75);
      }
      50%{
          transform: scale(1.25);
      }
      100%{
          transform: scale(1);
      }
  }

  .bounce-anim{
    animation: bounce1 3s 1 ease-in-out;
}